DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lastmile_db?schema=public"
PORT=4000
JWT_ACCESS_SECRET="super_secret_access_key_lastmile_2026"
JWT_REFRESH_SECRET="super_secret_refresh_key_lastmile_2026"
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER="mock_user@ethereal.email"
SMTP_PASS="mock_pass_12345"
SMTP_FROM="\"LastMile Logistics\" <no-reply@lastmile.com>"
FRONTEND_URL="http://localhost:5173"
