DATABASE_URL="file:./dev.db"
PORT=4000
JWT_ACCESS_SECRET="super_secret_access_key_lastmile_2026"
JWT_REFRESH_SECRET="super_secret_refresh_key_lastmile_2026"

# Live Gmail SMTP Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="trip71373@gmail.com"
SMTP_PASS="xawdzqvafmsxqbdg"
SMTP_FROM="\"LastMile Logistics\" <trip71373@gmail.com>"
FRONTEND_URL="http://localhost:5173"
